body {
  font-family: "Montserrat", sans-serif;
  margin: 50px;
  background-color: #e0ecff;
}

#currentCity {
  margin-top: 60px;
  max-width: 800px;
}

#cityName {
  font-weight: normal;
}

#currentLocation {
  background-color: #3169a2;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #000000;
  font-size: 12px;
  margin: 0px;
  padding: 10px 20px;
  text-align: left;
}

#currentLocation:hover {
  font-weight: bold;
}
#searchbutton {
  background-color: #3169a2;
  border-radius: 5px;
  border: 1px solid #000000;
  font-size: 15px;
  margin: 0px;
  padding: 10px;
}

.currentWeather {
  border: 1px solid #4f6893;
  border-radius: 10px;
  padding: 10px;
  background-image: url("../images/partlysunny.jpeg");
  background-size: 1500px;
  max-width: 800px;
}

#currentTemp {
  font-size: 100px;
  text-align: right;
  font-weight: 200;
  padding-bottom: 50px;
}

.col-3 {
  padding-top: 30px;
  font-size: 20px;
}
a {
  color: #000000;
}

a:hover {
  font-weight: bold;
  color: #000000;
}

h3 {
  line-height: 60px;
}

.FiveDay {
  padding: 10px;
  max-width: 800px;
}
#days {
  text-align: center;
}

#emojis {
  font-size: 30px;
}

.favoriteCities {
  border: 1px solid #4f6893;
  border-radius: 10px;
  padding: 10px;
  background-color: #cbdaf2;
  max-width: 800px;
}

#savedCities {
  text-align: center;
}

#editCities {
  text-align: right;
  font-weight: 100px;
  line-height: 60px;
  font-size: 20px;
}

#currentTime {
  font-weight: bolder;
  font-size: 20px;
}

#currentDate {
  font-size: 20px;
}

.footnotes {
  text-align: left;
  line-height: 30px;
  margin-top: 20px;
}

.githubLink {
  text-decoration: underline;
}

githubLink:hover {
  font-weight: bold;
}
