body {
  font-family: "Montserrat", sans-serif;
  margin: 50px;
  background-color: #e0ecff;
}

#degreeSign {
  font-size: 50px;
  text-align: right;
  font-weight: 200;
  padding-bottom: 10px;
  margin-top: 0px;
  color: #000000;
}
#search-form {
  max-width: 1100px;
}

.currentCity {
  margin-top: 20px;
  max-width: 1100px;
}

#cityName {
  font-weight: normal;
}

#currentLocation {
  background-color: #e0ecff;
  border: 0px solid #e0ecff;
  color: #3169a2;
  font-size: 30px;
  margin: 0px;
  text-align: left;
}

#currentLocation:hover {
  font-weight: bold;
}
#searchbutton {
  background-color: #3169a2;
  border-radius: 5px;
  border: 1px solid #000000;
  font-size: 15px;
  margin: 0px;
  padding: 10px;
}

#displayWeather {
  border: 1px solid #4f6893;
  border-radius: 10px;
  padding: 10px;
  background-image: url("");

  background-size: 800px;
  max-width: 800px;
}

#currentTemp {
  font-size: 100px;
  text-align: right;
  font-weight: 200;
  padding-bottom: 50px;
  color: #000000;
}

#currentWeatherDescription {
  text-transform: capitalize;
}

.col-3 {
  padding-top: 30px;
  font-size: 20px;
}

hr {
  width: 60%;
  min-width: 800px;
  position: absolute;
}

#celciusLink {
  cursor: default;
  text-decoration: none;
}

#farenheitLink {
  cursor: default;
  text-decoration: none;
}

.cflinks .active {
  cursor: default;
  font-weight: bold;
  text-decoration: none;
}

.cflinks .active:hover {
  cursor: default;
  text-decoration: none;
}

h3 {
  line-height: 60px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
}

.moreWeather {
  max-width: 600px;
}

.FiveDay {
  padding: 10px;
  max-width: 800px;
}
#days {
  text-align: center;
}

#emojis {
  font-size: 30px;
}

.favoriteCities {
  border: 1px solid #4f6893;
  border-radius: 10px;
  padding: 10px;
  background-color: #cbdaf2;
  max-width: 800px;
}

#savedCities {
  text-align: center;
}

#editCities {
  text-align: right;
  font-weight: 100px;
  line-height: 60px;
  font-size: 20px;
}

#currentTime {
  font-weight: bolder;
  font-size: 20px;
  color: #000000;
}

#celciusFarenheit {
  color: #000000;
}

#currentDate {
  font-size: 20px;
  color: #000000;
}

.data {
  font-weight: 400;
}

.weatherdata {
  color: #ffffff;
  background-color: #3169a2;
  border-radius: 5px;
  border: 1px solid #000000;
  font-size: 15px;
  margin: 0px;
  padding: 10px;
  max-width: 600px;
}
